.lime {
  background-color: #4bbf6b;
}

.red {
  background-color: #b04632;
}

.blue {
  background-color: #0079bf;
}

.orange {
  background-color: #d29034;
}

.purple {
  background-color: #89609e;
}

.pink {
  background-color: #cd5a90;
}

.green {
  background-color: #519839;
}

.grey {
  background-color: #838c90;
}

.sky {
  background-color: #0aaecb;
}
