@import "components/common.scss";

.boards_page {
  padding-top: 32px;
  display: grid;
  gap: 0px 30px;
  grid-template-columns: min-content 1fr;

  .nav_boards {
    width: 240px;
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      color: #0079bf;
      text-decoration: none;

      border-radius: 7px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 32px;
      margin-bottom: 16px;
    }

    a.active {
      background: #e4f0f6;
    }
  }

  .boards {
    .board {
      width: 100%;
      height: 100px;
      background-color: #f0f2f5;
      border-radius: 7px;
      padding: 8px;
      color: #ffffff;
      position: relative;

      .actions {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: fit-content;

        > * {
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }

    .board_group {
      display: grid;
      gap: 16px 16px;
      grid-template-columns: repeat(3, 1fr);
    }

    .caption {
      margin-top: 32px;
      margin-bottom: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;

      h2 {
        margin-left: 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #172b4d;
      }
    }

    .caption:first-child {
      margin-top: 0px;
    }

    #control {
      margin-top: 16px;
      cursor: pointer;

      .board {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: center;

        color: #172b4d;
        background-color: #f0f2f5;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    @import "components/colors.scss";
  }
}

@import "components/modal.scss";

#color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 6;
  width: 125px;
  height: 125px;
}

#color-palette div {
  display: flex;
}

#color-palette div > div {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 100%;
}

#color-palette div > div:hover {
  transition: 0.5s;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  transform: scale(1.01);
}

#board-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 10px;
  width: 400px;
  height: 50px;
}
