@import "components/common.scss";

.boards_page {
  padding-top: 32px;
  display: grid;
  gap: 0px 30px;
  grid-template-columns: min-content 1fr;

  .nav_boards {
    width: 240px;
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      color: #0079bf;
      text-decoration: none;

      border-radius: 7px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 32px;
      margin-bottom: 16px;
    }

    a.active {
      background: #e4f0f6;
    }
  }

  .boards {
    .board {
      width: 100%;
      height: 100px;
      background-color: #f0f2f5;
      border-radius: 7px;
      padding: 8px;
      color: #ffffff;
    }

    .board_group {
      display: grid;
      gap: 16px 16px;
      grid-template-columns: repeat(3, 1fr);
    }

    h2 {
      margin-top: 32px;
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #172b4d;
    }

    h2:first-child {
      margin-top: 0px;
    }

    #control {
      margin-top: 16px;

      .board {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: center;

        color: #172b4d;
        background-color: #f0f2f5;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    @import "components/colors.scss";
  }
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  width: 400px;
  height: 300px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background: #F4F5F7;
  color: black;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  background-color: lightblue;
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 6;
  width: 150px;
  height: 150px;
}

#color-palette div {
  display: flex;
}

#color-palette div > div {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 100%;
}

#color-palette div > div:hover {
  transition: 0.5s;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  transform: scale(1.01);
}